<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

	<display-name>Archetype Created Web Application</display-name>
	
	<!-- 1.Configure the dispatcher servlet in web.xml

	2.Create Spring Configuration File

	3.Configure View Resolver

	4.Create Controller

	5.Create a View to show(page) -->
	
	<!-- 1.Configure the dispatcher servlet in web.xml is down below-->
	
	
	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
</web-app>

<!-- 	now make config file i.e. spring-servlet.xml -->

